<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
    <script src="../static/js/jquery-3.6.0.min.js"></script>
</head>
<body>
<form id="students">
    student Number<input id="studentNumber" name="studentNumber"/><br>
    student Name<input id="studentName" name="studentName"/><br>
    <input id="btn_submit" type="button" value="查询学生基本信息和成绩"/>
</form>
<table border="1px">
    <tr>
        <td>student Number</td>
        <td>student Name</td>
        <td>student Address</td>
        <td>student classes Number</td>
        <td>student classes Name</td>
        <td>student chinese</td>
        <td>student math</td>
        <td>student english</td>
        <td>totalScore</td>
        <td>avg Score</td>
    </tr>
    <tr>
        <td id="tdStudentNumber"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
</div>
</body>
<script>
    $(document).ready(function () {
        $("#btn_submit").click(function () {
            let studentNumber = $('#studentNumber').val();
            let studentName = $('#studentName').val();
            let url = 'http://localhost:8080/students?studentNumber=' + studentNumber + '&studentName=' + studentName;
            let result = $.ajax({
                url: url, async: false
            });
            let student = JSON.parse(result.responseText);
            $("#tdStudentNumber").html(student.studentNumber);
        });
    });

</script>
</html>